<!DOCTYPE html>
<html lang="en">
{{>headers}}

<body>
  {{>navbar}}
  <div class="w-50 m-auto">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://media.istockphoto.com/photos/gamer-room-picture-id1311350206?b=1&k=20&m=1311350206&s=170667a&w=0&h=cUKGHoj91by8DJ1iSuNREjTo-i2FpffvtvNMnsq4Fmg="
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img
            src="https://media.istockphoto.com/photos/gamer-room-picture-id1334503591?b=1&k=20&m=1334503591&s=170667a&w=0&h=ma4969dCciSQbscjVCBmNdIG5Umon2VWwe-ZA3GZ55U="
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img
            src="https://images.unsplash.com/photo-1616588589676-62b3bd4ff6d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Z2FtaW5nJTIwcGN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
            class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="d-flex" style="justify-content: space-evenly;">
    <div class="card" style="width: 14rem;">
      <img
        src="https://media.istockphoto.com/photos/abstract-program-code-on-the-digital-display-picture-id1296891092?b=1&k=20&m=1296891092&s=170667a&w=0&h=3afh9HJBEUIukBzZuPkmtOxRs5U4G-UniZHk9-JCRms="
        class="card-img-top" alt="">
      <div class="card-body">
        <p class="card-text">Some make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card" style="width: 14rem;">
      <img
        src="https://media.istockphoto.com/photos/digital-technology-software-development-iot-internet-of-things-picture-id1341175431?b=1&k=20&m=1341175431&s=170667a&w=0&h=hVl9fiWMU2OXGacwbPsGcocVrYFRuIcxWo82sOdRijA="
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card" style="width: 14rem;">
      <img
        src="https://media.istockphoto.com/photos/code-programming-for-website-editors-view-picture-id1290492381?b=1&k=20&m=1290492381&s=170667a&w=0&h=NQSXJKhncCP1GLzDkD8KPZsCOh1wldDj5RZbPVJztxQ="
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card" style="width: 14rem;">
      <img
        src="https://media.istockphoto.com/photos/abstract-program-code-digital-concept-picture-id1303169218?b=1&k=20&m=1303169218&s=170667a&w=0&h=-G8lsXXvI7zf49_8hA3dCZRP-SBOvR3v7LTVSw9vWuw="
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>

</body>

</html>